.list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;

  &--between {
    justify-content: space-between;
  }
}

.list-btn {
  margin-left: 8px;
  &:first {
    margin-left: 0;
  }
}
